* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*.button {
    display: flex;
    justify-content: center;
    &-btn {
        text-decoration: none;
        color: #F26376;
        border: 1px solid #F26376;
        padding: 15px 39px;
        margin: 48px 0 98px 0;
    }
}*/
body {
  font-family: "Lato", sans-serif;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
  color: #fff;
  padding: 18px 0;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo-link {
  margin-right: 41px;
  text-decoration: none;
  color: transparent;
}

.header-search-link {
  text-decoration: none;
  color: transparent;
}

.header-burger-linc {
  text-decoration: none;
  color: transparent;
}

.header-user-linc {
  text-decoration: none;
  color: transparent;
  margin: 33px;
}

.header-basket-linc {
  text-decoration: none;
  color: transparent;
}

.promo {
  background-color: #f1e4e6;
  height: 765px;
}

.promo-wrap {
  background-image: url(../img/promo-card.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 765px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.promo-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  border-left: 12px solid #F16D7F;
  padding-left: 12px;
}

.promo-title-big {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo-title-pink {
  color: #F16D7F;
}

.offer {
  padding-top: 65px;
}

.offer-item {
  width: 360px;
  height: 260px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-link {
  text-decoration: none;
}

.offer-name-pink {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
}

.offer-item-white {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

.offer-item-women {
  background-image: url(../img/offer-woman.jpg);
}

.offer-item-men {
  background-image: url(../img/offer-man.jpg);
}

.offer-item-kids {
  background-image: url(../img/offer-kids.jpg);
}

.offer-item-accesories {
  background-image: url(../img/offer-accesories.jpg);
  width: 100%;
  height: 180px;
  margin-top: 30px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.products-title {
  color: #222222;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-top: 69px;
}

.products-title-text {
  color: #9f9f9f;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 6px 0 48px;
}

.products-cards {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-card {
  width: 360px;
  background-color: #f8f8f8;
  margin-bottom: 30px;
}

.products-linc {
  text-decoration: none;
}

.products-foto {
  margin: 162px;
  margin: 0 auto;
}

.products-name {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 25px 18px 12px;
}

.products-description {
  color: #5d5d5d;
  font-size: 14px;
  line-height: 17px;
  padding: 0 16px 18px;
}

.products-price {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  padding: 0 0 20px 18px;
}

.products-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-button-btn {
  text-decoration: none;
  color: #f26376;
  border: 1px solid #f26376;
  padding: 15px 39px;
  margin: 48px 0 98px 0;
}

.products-button-btn:hover {
  background-color: #F16D7F;
  color: #ffffff;
}

.features {
  background-color: #222224;
  padding: 103px 0;
  color: #fbfbfb;
  font-size: 19px;
  line-height: 24px;
}


.features-titles {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.features-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-discounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-assurance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin-top: 28px;
}

.features-text {
  text-align: center;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  color: #fbfbfb;
  margin-top: 16px;
}


.connection {
  background-image: url(../img/photo-subscribe.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.connection-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.connection-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 97px;
  margin-bottom: 30px;
}

.connection-text {
  font-size: 20px;
  line-height: 24px;

  color: #222224;
  text-align: center;
  width: 359px;
}

.connection-text-italic {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.connection-text-big {
  font-size: 24px;
  text-align: center;
  color: #222224;
}

.connection-text-small {
  font-size: 18px;
  text-align: center;
  color: #222224;
  padding-bottom: 32px;
}

.connection-subscribe {
  padding-top: 150px;
}

.connection-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection-field {
  width: 256px;
  padding: 22px;
  background: #e1e1e1;
  border: none;
  border-radius: 28px 0 0 28px;
}

.connection-field::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.connection-field:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.connection-field::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.connection-field::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.connection-btn {
  padding: 22px 14px;
  background-color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  border: none;
  border-radius: 0 28px 28px 0;

}

.footer {
  background-color: #222224;
  padding: 30px 0;
  color: #fbfbfb;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copy {
  font-size: 16px;
  line-height: 19px;
}

.footer--socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-socials {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  background-color: #ffffff;
  width: 31px;
  height: 32px;
  padding: 7px 10px;
  margin: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socials:hover {
  color: #ffffff;
  background-color: #F16D7F;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.inner {
  background-color: #f8f3f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 148px;
  margin-bottom: 51px;
}

.inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner-name {
  color: #F16D7F;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.inner-navigation-bar {
  padding: 20px;
}

.inner-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-nav {
  margin: 6px;
}

.inner-nav::before {
  content: "/";
  margin-right: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.inner-nav:first-child::before {
  display: none;
}

.inner-linc {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.inner-linc:hover {
  text-decoration: underline;
}

.inner-linc--current {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  font-weight: 700;
}

.products-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-indication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-filters {
  color: #222222;
}

.products-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ebebeb;
  width: 283px;
  padding: 15px 16px;
  margin-bottom: 96px;
}

.products-pag {
  list-style: none;
  text-decoration: none;
  background: #ffffff;
}

.products-pag-linc {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

.products-pag-linc-blac {
  color: #222222;
}

.color-pick {
  color: #ef5b70;
}

.products-pag-linc:hover {
  color: #F16D7F;
}

/* registration */
.registration-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration-field {
  border: none;
}

.registration-field-chec {
  border: none;
}

.registration-form {
  padding-right: 128px;
}

.registration-chec {
  padding-right: 20px;
  font-weight: 300;
  line-height: 13px;
  color: #000000;
}

.registration-name {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding: 64px 0 20px 0;
}

.registration-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding: 13px 200px 13px 17px;
}

.registration-input-chec {
  margin-right: 10px;
  border: 1px solid #a4a4a4;
}

.registration-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  width: 359px;
  margin-top: 15px;
}

.registration-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
  padding: 16px 29px;
  margin: 39px 0 96px 0;
  cursor: pointer;
}

.registration-button .fa-long-arrow-alt-right {
  margin-left: 20px;
  margin-top: 1px;
}

.registration-button:hover {
  color: #F16D7F;
  background: #ffffff;
}

.registration-heading {
  margin: 64px 0 22px 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration-subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
}

.registration-text_txt {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 16px;
}

.registration-text_txt::before {
  content: "";
  background-image: url(../img/check-mark.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding-right: 24px;
  margin-right: 22px;
}
/*# sourceMappingURL=style.css.map */