@import "structure/_var.scss";

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin text-decor {
  text-decoration: none;
  color: transparent;
}

/*.button {
    display: flex;
    justify-content: center;
    &-btn {
        text-decoration: none;
        color: #F26376;
        border: 1px solid #F26376;
        padding: 15px 39px;
        margin: 48px 0 98px 0;
    }
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
.wrap {
  width: 1140px;
  margin: 0 auto;
}
// home

@import "blocks/header";

@import "blocks/promo";

@import "blocks/offer";

@import "blocks/products";

@import "blocks/features";

@import "blocks/connection";

@import "blocks/footer";

// home end

// catalog
.inner {
  background-color: #f8f3f4;
  display: flex;
  justify-content: space-around;
  height: 148px;
  margin-bottom: 51px;
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-name {
    color: $colorletters;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  &-navigation-bar {
    padding: 20px;
  }
  &-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  &-nav {
    margin: 6px;
  }
  &-nav::before {
    content: "/";
    margin-right: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
  }
  &-nav:first-child::before {
    display: none;
  }
  &-linc {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
  }
  &-linc:hover {
    text-decoration: underline;
  }
  &-linc--current {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $colorletters;
    font-weight: 700;
  }
}

.products-pagination {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ebebeb;
  width: 283px;
  padding: 15px 16px;
  margin-bottom: 96px;
}
.products-psgination_item {
  list-style: none;
  text-decoration: none;
  background: #ffffff;
}
.products-psgination_linc {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}
.products-psgination_linc-blac {
  color: $bac-colar;
}
.color-pick {
  color: #ef5b70;
}
.products-psgination_linc:hover {
  color: $colorletters;
}
.products-navigation {
  display: flex;
  justify-content: center;
}

/* registration */

.registration {
  &-wrap {
    display: flex;
    justify-content: space-between;
  }
  &-field {
    border: none;
  }
  &-field-chec {
    border: none;
  }
  &-form {
    padding-right: 128px;
  }
  &-chec {
    padding-right: 20px;
    font-weight: 300;
    line-height: 13px;
    color: #000000;
  }
  &-name {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding: 64px 0 20px 0;
  }

  &-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 13px 200px 13px 17px;
  }
  &-input-chec {
    margin-right: 10px;
    border: 1px solid #a4a4a4;
  }
  &-text {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #b1b1b1;
    width: 359px;
    margin-top: 15px;
  }

  &-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid $colorletters;
    background-color: $colorletters;
    padding: 16px 29px;
    margin: 39px 0 96px 0;
    cursor: pointer;
  }
  &-button .fa-long-arrow-alt-right {
    margin-left: 20px;
    margin-top: 1px;
  }
  &-button:hover {
    color: $colorletters;
    background: #ffffff;
  }
  &-heading {
    margin: 64px 0 22px 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }
  &-subtitle {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 21px;
  }
  &-text_txt {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
  }
  &-text_txt::before {
    content: "";
    background-image: url(../img/check-mark.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 24px;
    margin-right: 22px;
  }
}
