* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    display: flex;
    justify-content: center;
    &-btn {
        text-decoration: none;
        color: #F26376;
        border: 1px solid #F26376;
        padding: 15px 39px;
        margin: 48px 0 98px 0;
    }
}

body {
    font-family: 'Lato', sans-serif;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #222222;
    color: #fff;
    padding: 18px 0;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo-link {
        margin: 41px;
    }
    &-user-linc {
        margin: 33px;
    }
}

.promo {
    background-color: #F1E4E6;
    height: 765px;
    &-wrap {
        height: 765px;
        background-image: url(../img/cart.png);
        background-repeat: no-repeat;
        background-position-x: -190px;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    &-title {
        font-weight: 900;
        font-size: 32px;
        line-height: 38px;
        color: #222222;
        border-left: 12px solid #F16D7F;
        padding-left: 12px;
    }
    &-title-big {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
    }
    &-title-pink {
        color: #F16D7F;
    }
}

.offer {
    padding-top: 65px;
    &-item {
        width: 360px;
        height: 260px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-name-pink {
        color: #F16D7F;
    }
    &-item-white {
        color: #fff;
    }
    &-item-women {
        background-image: url(../img/offer-woman.jpg)
    }
    &-item-men {
        background-image: url(../img/offer-man.jpg);
    }
    &-item-kids{
        background-image: url(../img/offer-kids.jpg);
    }
    &-item-accesories {
        background-image: url(../img/offer-accesories.jpg);
        width: 100%;
        height: 180px;
        margin-top: 30px;
    }
}

.products {
    display: flex;
    justify-content: space-around;
    &-title {
        color: #222222;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        margin-top: 69px;
    }
    &-title-tt {
        color: #9F9F9F;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding: 6px 0 48px;
    }
    &-name {
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        padding: 25px 18px 12px;;
    }
    &-description {
        color: #5D5D5D;
        font-size: 14px;
        line-height: 17px;
        padding: 0 16px 18px;

    }

    &-cards {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

    }
    &-card {
        width: 360px;
        background-color: #F8F8F8;

    }
    &-foto {
        margin: 162px;
        margin: 0 auto;
    }
    &-price {
        color: #F16D7F;
        font-size: 16px;
        line-height: 19px;
        padding: 0 0 20px 18px;;
    }
}

.features {
    background-color: #222224;
    padding: 103px 0;
    color: #FBFBFB;
    font-size: 19px;
    line-height: 24px;
}

.connection {
    background: url("../img/photo-subscribe.png");
    background-repeat: no-repeat;

    &-reviews-icon {
        margin-top: 97px;
    }
    &-reviews {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 126px;
    }
}

.footer {
    background-color: #222224;
    padding: 30px 0;
    color: #FBFBFB;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-copy {
        font-size: 16px;
        line-height: 19px;
    }
    &-instagram {
        margin: 0 7px;
    }
    &-pinterest {
        margin-right: 7px;
    }
}