.header {
  background-color: $bac-colar;
  color: #fff;
  padding: 18px 0;
  &-wrap {
    @include flex;
  }
  &-logo-link {
    margin-right: 41px;
    @include text-decor;
  }
  &-search-link {
    @include text-decor;
  }
  &-burger-linc {
    @include text-decor;
  }
  &-user-linc {
    @include text-decor;
    margin: 33px;
  }
  &-basket-linc {
    @include text-decor;
  }
}
