.header {
  background-color: $bac-colar;
  color: #fff;
  padding: 18px 0;
  &-wrap {
    @include flex;
  }
  &-logo_link {
    margin-right: 41px;
    @include text-decor;
  }
  &-search_link {
    @include text-decor;
    fill: $colormain;
  }
  &-burger_linc {
    fill: $colormain;
    @include text-decor;
  }
  &-user_linc {
    fill: $colormain;
    @include text-decor;
    margin: 33px;
  }
  &-basket_linc {
    fill: $colormain;
    @include text-decor;
  }
  &-img:hover {
    fill: $colorletters;
    transition-duration: 0.5s;
  }
}
